<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>http://attachments.gfan.com/forum/attachments2/day_120501/1205012009f594464a3d69a145.jpg</string>
	<string>https://timgsa.baidu.com/timg?image&amp;quality=80&amp;size=b9999_10000&amp;sec=1563251679757&amp;di=5d148316a23972ec8d20b946b9fe0d6b&amp;imgtype=0&amp;src=http%3A%2F%2Fimages6.fanpop.com%2Fimage%2Fphotos%2F41100000%2F-Toshiro-Hitsugaya-bleach-anime-41102719-500-281.gif</string>
	<string>http://gss0.baidu.com/-fo3dSag_xI4khGko9WTAnF6hhy/zhidao/pic/item/aec379310a55b31905caba3b43a98226cffc1748.jpg</string>
</array>
</plist>
